params {
    greeting = 'Hello'
    python_container = 'docker-gel-research-containers.artifactory.aws.gel.ac/python:v3.12.6.2'
}

cloud {
    autoscale {
        enabled = true
    }
}

aws {
    region = 'eu-west-2'
}

docker {
    enabled = true
}

executor {
    name = 'awsbatch'
}

process {
    container = 'ubuntu:20.04'

    withName: HELLO {
        container = params.python_container
    }
}
